@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 800px) and (max-height: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.formContainer {
  background-color: #7d8df6;
  height: 100vh;
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formDetails {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: white;
    width: 400px;
    border-radius: 10px;

    p {
      color: #7d8df6;
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 5px;
    }

    .mainTitle {
      color: #7d8df6;
      font-size: 24px;
      font-weight: bold;
    }

    .subTitle {
      font-size: 16px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .profilePic {
        margin: 10px;
        display: flex;
        align-items: center;

        img {
          width: 25px;
          margin-right: 10px;
          cursor: pointer;
        }

        span {
          color: #7d8df6;
          font-size: 14px;
          cursor: pointer;
        }
      }

      button {
        width: 250px;
        border: none;
        outline: none;
        padding: 10px;
        color: white;
        background-color: #8593f3;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
      }
      button:hover {
        background-color: #7d8df6;
      }

      input {
        font-size: 16px;
        padding: 20px;
        width: 250px;
        border: none;
        border-bottom: 0.5px solid #7d8df6;
        outline: none;

        &::placeholder {
          color: rgba(175, 175, 175);
        }
      }
    }
  }
}

* {
  font-family: "poppins", "sans-serif";
}

.Home {
  background-color: #7d8df6;
  height: 100vh;
  width: 100%;

  .container {
    display: flex;
    height: 100vh;
  }

  .sidebar {
    background-color: #3e3c61;
    flex: 1;
    .search {
      border-bottom: 1px solid black;

      .searchForm {
        input {
          color: #ddddf7;
          background-color: #3e3c61;
          outline: none;
          border: none;
          width: 100%;
          padding: 10px;
          caret-color: #ddddf7;
        }
        ::placeholder {
          color: #ddddf7;
        }
      }
      .userChat {
        display: flex;
        align-items: center;
        padding: 15px;
        gap: 15px;
        cursor: pointer;

        &:hover {
          background-color: #2f2d52;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userInfo {
          .userName {
            color: white;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
    .chats {
      .userChat {
        display: flex;
        align-items: center;
        padding: 15px;
        gap: 15px;
        cursor: pointer;

        &:hover {
          background-color: #2f2d52;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userInfo {
          .userName {
            color: white;
            font-size: 16px;
            font-weight: 600;
          }
          .userMsg {
            color: lightgray;
            font-size: 14px;
          }
        }
      }
    }
  }

  .chat {
    flex: 2;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  height: 75px;
  background-color: #2f2d52;
  border-bottom: 1px solid black;

  .mainTitle {
    font-size: 20px;
    font-weight: bold;
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  .persondetails {
    display: flex;
    align-items: center;
    gap: 10px;

    .userName {
      font-size: 14px;
      font-weight: 600;
    }

    button {
      color: white;
      padding: 5px;
      font-size: 12px;
      background-color: #5d5b8d;
      border: none;
      outline: none;
      cursor: pointer;
    }
    img {
      background-color: #ddddf7;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.chat {
  background-color: #e5d9f7;
  @include tablet {
    max-width: 600px;
  }
  .topContainer {
    height: 75px;
    border-bottom: 1px solid black;
    background-color: #7b6ba5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .chatInfo {
      span {
        color: white;
        font-weight: bold;
        padding: 6px;
      }
    }
    .chatIcons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      padding: 6px;
      .phoneIcon {
        height: 20px;
        cursor: not-allowed;
        opacity: 50%;
      }

      .videoCallIcon {
        height: 24px;
        cursor: not-allowed;
        opacity: 50%;
      }

      .moreIcon {
        width: 28px;
        height: 28px;
        opacity: 50%;
        cursor: not-allowed;
      }
    }
  }

  .middleContainer {
    overflow: auto;
    padding: 10px;
    height: calc(100% - 125px);

    .messages {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .messagesBlock {
        display: flex;
        gap: 20px;
        .userDetails {
          display: flex;
          flex-direction: column;
          align-items: center;
          .UserPic {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-size: 12px;
            color: gray;
          }
        }
        .messageContent {
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 80%;
          p {
            padding: 10px;
            background-color: white;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
          }
          img {
            width: 200px;
            height: 200px;
          }
        }
        &.owner {
          flex-direction: row-reverse;
          .messageContent {
            align-items: flex-end;
            p {
              padding: 10px;
              color: white;
              background-color: #6071de;
              border-radius: 10px 0px 10px 10px;
              max-width: max-content;
            }
          }
        }
      }
    }
  }

  .middleContainer::-webkit-scrollbar {
    width: 0.5vw;
  }
  .middleContainer::-webkit-scrollbar-thumb {
    width: 0.5vw;
    background-color: rgb(49, 49, 49);
    border-radius: 10px 10px 10px 10px;
  }
  .middleContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(88, 88, 88);
  }
}
.bottomContainer {
  .inputBox {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    padding: 10px;

    .inputLeft {
      input {
        border: none;
        outline: none;
        padding: 5px;
        width: 800px;
      }
    }

    .inputRight {
      display: flex;
      align-items: center;
      gap: 5px;

      .attachFile {
        width: 24px;
        height: 24px;
        cursor: pointer;
        opacity: 50%;
      }
      .addImage {
        width: 52px;
        height: 32px;
        cursor: pointer;
        opacity: 50%;
      }
      .sendBtn {
        padding: 8px;
        border: none;
        outline: none;
        background-color: #6071de;
        color: white;
        font-size: 12px;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}
